<div>
  <h1>
    {{title}}
  </h1>
  <h2>
    {{PessoasCultura}}
  </h2>
  <tr *ngFor="let question of pessoasCultura | async">
    <td *ngIf="question.pontos==1">{{question.numero}}</td>
    <td *ngIf="question.pontos==1">{{question.questao}}</td>
    <td>
      <input type="checkbox" />{{question.diretriz}}
    </td>
  </tr>
  <h2>
    {{PlanejamentoContinuo}}
  </h2>
  <tr *ngFor="let question of planejamentoContinuo | async">
    <td *ngIf="question.pontos==1">{{question.numero}}</td>
    <td *ngIf="question.pontos==1">{{question.questao}}</td>
    <td>
      <input type="checkbox" />{{question.diretriz}}
    </td>
  </tr>
  <h2>
    {{IntegracaoContinua}}
  </h2>
  <tr *ngFor="let question of integracaoContinua | async">
    <td *ngIf="question.pontos==1">{{question.numero}}</td>
    <td *ngIf="question.pontos==1">{{question.questao}}</td>
    <td>
      <input type="checkbox" />{{question.diretriz}}
    </td>
  </tr>
  <h2>
    {{TestesContinuos}}
  </h2>
  <tr *ngFor="let question of testesContinuos | async">
    <td *ngIf="question.pontos==1">{{question.numero}}</td>
    <td *ngIf="question.pontos==1">{{question.questao}}</td>
    <td>
      <input type="checkbox" />{{question.diretriz}}
    </td>
  </tr>
  <h2>
    {{InfraestruturaCodigo}}
  </h2>
  <tr *ngFor="let question of infraestruturaCodigo | async">
    <td *ngIf="question.pontos==1">{{question.numero}}</td>
    <td *ngIf="question.pontos==1">{{question.questao}}</td>
    <td>
      <input type="checkbox" />{{question.diretriz}}
    </td>
  </tr>
  <h2>
    {{EntregaContinua}}
  </h2>
  <tr *ngFor="let question of entregaContinua | async">
    <td *ngIf="question.pontos==1">{{question.numero}}</td>
    <td *ngIf="question.pontos==1">{{question.questao}}</td>
    <td>
      <input type="checkbox" />{{question.diretriz}}
    </td>
  </tr>
  <h2>
    {{MonitoracaoContinua}}
  </h2>
  <tr *ngFor="let question of monitoracaoContinua | async">
    <td *ngIf="question.pontos==1">{{question.numero}}</td>
    <td *ngIf="question.pontos==1">{{question.questao}}</td>
    <td>
      <input type="checkbox" />{{question.diretriz}}
    </td>
  </tr>
  <h2>
    {{FeedbackContinuo}}
  </h2>
  <tr *ngFor="let question of feedbackContinuo | async">
    <td *ngIf="question.pontos==1">{{question.numero}}</td>
    <td *ngIf="question.pontos==1">{{question.questao}}</td>
    <td>
      <input type="checkbox" />{{question.diretriz}}
    </td>
  </tr>
</div>
