<div>
  <h1>
    {{title}}
  </h1>
  <h2>
    {{PessoasCultura}}
  </h2>
  <div *ngFor="let question of pessoasCultura | async">
    <h4 *ngIf="question.pontos==1">{{question.questao}}</h4>
    <li>
      <input type="checkbox" />{{question.diretriz}}
    </li>
  </div>
  <h2>
    {{PlanejamentoContinuo}}
  </h2>
  <div *ngFor="let question of planejamentoContinuo | async">
    <h4 *ngIf="question.pontos==1">{{question.questao}}</h4>
    <li>
      <input type="checkbox" />{{question.diretriz}}
    </li>
  </div>
  <h2>
    {{IntegracaoContinua}}
  </h2>
  <div *ngFor="let question of integracaoContinua | async">
    <h4 *ngIf="question.pontos==1">{{question.questao}}</h4>
    <li>
      <input type="checkbox" />{{question.diretriz}}
    </li>
  </div>
  <h2>
    {{TestesContinuos}}
  </h2>
  <div *ngFor="let question of testesContinuos | async">
    <h4 *ngIf="question.pontos==1">{{question.questao}}</h4>
    <li>
      <input type="checkbox" />{{question.diretriz}}
    </li>
  </div>
  <h2>
    {{InfraestruturaCodigo}}
  </h2>
  <div *ngFor="let question of infraestruturaCodigo | async">
    <h4 *ngIf="question.pontos==1">{{question.questao}}</h4>
    <li>
      <input type="checkbox" />{{question.diretriz}}
    </li>
  </div>
  <h2>
    {{EntregaContinua}}
  </h2>
  <div *ngFor="let question of entregaContinua | async">
    <h4 *ngIf="question.pontos==1">{{question.questao}}</h4>
    <li>
      <input type="checkbox" />{{question.diretriz}}
    </li>
  </div>
  <h2>
    {{MonitoracaoContinua}}
  </h2>
  <div *ngFor="let question of monitoracaoContinua | async">
    <h4 *ngIf="question.pontos==1">{{question.questao}}</h4>
    <li>
      <input type="checkbox" />{{question.diretriz}}
    </li>
  </div>
  <h2>
    {{FeedbackContinuo}}
  </h2>
  <div *ngFor="let question of feedbackContinuo | async">
    <h4 *ngIf="question.pontos==1">{{question.questao}}</h4>
    <li>
      <input type="checkbox" />{{question.diretriz}}
    </li>
  </div>
</div>
